// * {
//     outline: 1px solid rgb(87, 53, 53);
// }

// ion-content {
//     --background: rgb(0, 2, 0);
// }

// ion-card {
//     --background: white;
// }

.perfil-pic {
    border-radius: 32px;
    outline: 3px solid white;
}

.titulo-nome {
    font-size: 3rem;
}


.numero-metrica {
    font-size: 2.5rem;
}

.titulo-profissao {
    font-size: 1.25rem;
    font-weight:bold;
}

.titulo-instagram {
    font-size: 1rem;
    color:darkgray;

}

.titulo-idioma {
    font-size: 1rem;
    color: darkgrey;
}

.titulo-cidade {
    font-size: 1rem;
    color: darkgrey;

}

.titulo-inicio{
    font-size: 1rem;
    color: darkgrey;
}

.titulo-biografia {
    font-size: 2rem;

}

.biografia {
    font-size: 1.25rem;

}

.titulo-postagens {
    font-size: 2rem;
}

.foto-postagem {
        border-radius: 32px;
        outline: 3px solid white;
}

.nome-postagem {
    font-size: 1rem;
}

.instagram-postagem{
    color: darkgray;
}

.mensagem-postagem {
    font-size: 1rem;
    font-style: italic;
}