
.on-mouse{
    cursor: pointer;
    & h2 {
        letter-spacing:none;
        transition: all 1s;
    }
    
    & h2,
    &h3{
        color: red;
        transition: all 1s;
    }
}
.on-mouse:hover{

    & h2 {
        letter-spacing:2px;
        transition: all 1s;
    }
    cursor: pointer;
    & h2,
    &h3 {
        color: rgb(64, 155, 60);
        transition: all 1s;
    }

}

